# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Virtual environments
env/
venv/
ENV/
.env/
.venv/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media
staticfiles

# IDE/editor settings
.vscode/
.idea/
*.swp
.DS_Store
